/*
 * Copyright (C) 2019
 *
 * Author: Ovidiu Mihalachi <ovidiu.mihalachi@gmail.com>
 *
 * SPDX-License-Identifier:	GPL-2.0+
 *
 */

/* image version */
IMAGE_VERSION 2

/*
 * Boot Device : one of
 * spi, sd (the board has no nand neither onenand)
 */
BOOT_FROM      sd

#define __ASSEMBLY__
#include <config.h>
#ifdef CONFIG_SECURE_BOOT
CSF CONFIG_CSF_SIZE
#endif
#include "asm/arch/mx6-ddr.h"
#include "asm/arch/iomux.h"
#include "asm/arch/crm_regs.h"

#include "ddr-setup.cfg"
#include "mx6q_4x_k4b4g1646d.cfg"
#include "clocks.cfg"
